/*GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
} 

.fondo-generico{
    padding-top: 25px;
    background-color: black;
    color: white;
}
/*FIN DE GENERAL*/

/* iNICIO DE HEADER*/
.header_main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    padding: 0 20px;
}

.header_logo h1 a{
    text-decoration: none;
    color: white;
}

.header_logo h1 a:hover{
    color: coral;
    transition: all 0.4s;
}

.header_nav li{
    list-style: none;
    display: inline-block;
    line-height: normal;
}

.header_nav li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 3px;
}

.header_nav li a:hover{
    color: coral;
    transition: all 0.4s;
}

#navbarNav{
    margin-left: auto;
}

/* FIN DE HEADER */

/*INICIO DE HERO & CALL TU ACTION*/
.hero{
    position: relative;
}

.hero img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.hero .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0));
    color: white;
    padding-top:220px;
    text-align: center;
}

.overlay h2{
    font-size: 50px;  
    letter-spacing: 2.4px;
    margin: 0;
}

.overlay small{
    font-size: 25px;
    letter-spacing: 1.8px;
}

.overlay p{
    width: 70%;
    margin: 10px auto;
    letter-spacing: 1px;
}
/*FIN DE HERO & CALL TU ACTION*/

/*INICIO INFO*/

.main_info-container img{
    width: 30%;
    height: auto;
}
/*FIN DE INFO*/

/*COCTELERIA*/

.main-productos{
    padding-top: 25px;
    background-color: black;
    color: white;
}

.seccion-productos{
    border: white solid 1.3px;
    padding: 16px 64px ;
    margin: 16px 64px;
}

.texto-tamaño-3{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1.8px
}


.producto{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 16px 0;
}
/*FIN DE COCTELERIA*/

/*NOSOTROS*/


/*FIN DE NOSOTROS*/


/*CONTACTO*/
.main_contacto_container{
    padding: 30px 10px;
    background-color: black;
    font-size: 22px;
    color: white
}

.main_contacto_container h1{
    text-align: center;
    margin-bottom: 25px;
}
.main_contacto_container a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.main_contacto_container a:hover{
    color: coral
}

.mapa{
    width: 50%;
    margin: 20px auto; 
}

/*FIN DE CONTACTO*/

/*TEXTO*/

.titulo-grande{
    text-decoration: underline;
    font-size: 48px;
    margin-bottom: 30px;
}

.anclaje :hover{
    color: coral;
    transition: all 0.4s;
}
/*FIN TEXTO*/

/*GRID AREAS*/

/*MEDIA QUERYS*/

@media(max-width:769px){
    /*COCTELERIA*/
    .seccion-productos{
        border: none;
        border-bottom: white solid 1.3px;
        border-top: white solid 1.3px;
        padding: 16px  ;
        margin: 16px ;
    }
    /*FIN COCTELERIA*/
}

@media (max-width:426px) {

    .header_main{
        display: block;
    }

    .header_logo h1{
        text-align: center;
    }

    .header_nav ul{
        text-align: center;
    }

    .hero img{
        height: 400px;
    }

    .hero p{
        display: none;
    }

    .main_info-container div p{
        font-size: 16.5px;
    }

    /*Cocteleria*/

    .producto-precio h3{
        margin-left: 20px;
    }

    /*Contacto*/
    .contacto{
       margin-top: 25px;
    }

    .mapa{
        width: 80%;
        margin: 25px auto; 
    }
}